.form {
  display: block;
  max-width: 32rem;
}

.longInput {
  min-height: 5em;
}

.input {
  margin: 1em 0;
}

.input input, .input button, .input textarea {
  font-family: inherit;
}

.submit {
  font-size: 1em;
}