.stat {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.number {
  font-family: var(--font-primary);
  color: var(--color-brand);
  font-weight: 800;
  font-size: 5rem;
  line-height: 5rem;
  margin-bottom: 0.1em;
}

.label {
  font-size: 3rem;
  line-height: 3rem;
  font-weight: 400;
}

.left_award {
  align-self: center;
  text-align: right;
}

.right_award {
  align-self: center;
  text-align: left;
}

.awardPhoto {
  max-height: 30rem;
  max-width: 30rem;
  object-fit: cover;
  /* width: auto; */
  margin-left: auto;
  margin-right: auto;
}

.awardText {
  max-width: 30rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.5em;
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 200;
}