.footer {
  display: flow-root;
  background-color: var(--color-neutral-100);
  color: white;
}

.mainSection {
  margin: 2rem 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  gap: 2rem;
}

.linksContainer {
  display: grid;
  gap: 3rem;
  grid-template-columns: 1fr 1fr;
  place-items: center left;
}

@media (max-width: 768px) {
  .mainSection {
    grid-template-columns: 1fr 1fr;
    place-items: center left;
  }

  .linksContainer {
    grid-column: 1 / -1;
    width: 100%;
    gap: 2rem;
  }
}

.logo {
  width: 8rem;
  margin-bottom: 1rem;
  height: auto;
  max-width: 100%;
}

.footerLinks {
  list-style: none;
}

.footerLink:hover {
  text-decoration: underline;
}

.copyrightSection {
  background-color: #c40000;
  margin-top: 0.75rem;
  padding: 1rem 0;
}