.footer {
  background-color: black;
  padding: 4rem;
  text-align: left;
  color: white;
}

.logo {
  height: 7em;
  width: auto;
  max-width: 100%;
}

.footerLinks {
  list-style-type: none;
  text-decoration: underline;
  font-size: 0.9em;
  line-height: 1.5em;
}

.footerMenu {
  padding-left: 12em;
}