.number {
  font-family: var(--font-primary);
  color: var(--color-brand);
  font-weight: 800;
  font-size: 5rem;
  line-height: 5rem;
  margin-bottom: 0.1em;
}

.externalLink {
  vertical-align: top;
  margin-top: 0.2em;
}

.event {
  display: flex;
  padding-bottom: 0.3em;
  gap: 0.5em;
}

.events {
  margin-top: 1em;
  padding-top: 0.75em;
  padding-bottom: 0.75em;
}

@media (min-width: 340px) {
  .event h3 {
    white-space: nowrap;
  }
}

@media (max-width: 767px) {
  .event {
    display: grid;
    grid-template-columns: subgrid;
    grid-column: 1 / -1;
  }
  .events {
    display: grid;
    grid-template-columns: min-content auto;
    grid-auto-rows: auto;
  }
}

.robotName {
  text-align: center;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  max-width: 20rem;
}

.robotPhoto {
  width: min(100%, 20rem);
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

@media (max-width: 26.625rem) {
  .number {
    overflow-wrap: anywhere;
  }
}
