.navbar {
  padding: 2rem;
  position: sticky;
  align-self: flex-start;
  top: 0;
  width: 100%;
  background-color: #FFF;
  box-shadow: 0 0.1em 1em 0 rgba(0, 0, 0, 0.1);
}

.menuOption {
  padding:10px;
}

.menu {
  text-align:right;
}

.title {
  color: #cc0000;
  font-size:30px;
}