.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
}

@media (max-width: 560px) {
  .gallery {
    justify-content: center;
  }
}

.sponsorLogo {
  width: auto;
  height: 6rem;
  max-width: 100%;
  object-fit: contain;
}

#standardBots {
  display: flex;
  flex-direction: column;
  font-style: italic;
  justify-content: space-around;
}

#standardBots img {
  width: 100%;
  height: auto;
}

.individualDonor {
  width: fit-content;
  height: auto;
  font-size: 3rem;
  line-height: auto;
  font-weight: 600;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  align-self: center;
}