.stats {
  display: flex;
  flex-wrap: wrap;
  gap: 1em 12em;
  justify-content: center;
  min-height: fit-content;
  padding-bottom: 2em;
}

.stat {
  width: auto;
  height: fit-content;
  text-align: center;
}

.number {
  font-family: var(--font-primary);
  color: var(--color-brand);
  font-weight: 800;
  font-size: 5rem;
  line-height: 5rem;
  margin-bottom: 0.1em;
}

.label {
  font-weight: 200;
  font-size: 1.5rem;
  line-height: 1.5rem;
}

@media not (prefers-reduced-motion: reduce) {
  @property --years-competed {
    syntax: "<integer>";
    inherits: false;
    initial-value: 0;
  }

  @property --awards-earned {
    syntax: "<integer>";
    inherits: false;
    initial-value: 0;
  }

  @property --events-attended {
    syntax: "<integer>";
    inherits: false;
    initial-value: 0;
  }

  #yearsCompeted span, #eventsAttended span, #awardsEarned span {
    color: rgba(0, 0, 0, 0);
    grid-row-start: 1;
    grid-column-start: 1;
  }

  #yearsCompeted {
    transition: --years-competed 1.5s cubic-bezier(0.3, 0.1, 0, 1);
    counter-reset: years-competed var(--years-competed);
    display: inline-grid;
  }

  #eventsAttended {
    transition: --events-attended 1.5s cubic-bezier(0.3, 0.1, 0, 1);
    counter-reset: events-attended var(--events-attended);
    display: inline-grid;
  }

  #awardsEarned {
    transition: --awards-earned 1.5s cubic-bezier(0.3, 0.1, 0, 1);
    counter-reset: awards-earned var(--awards-earned);
    display: inline-grid;
  }

  #yearsCompeted::after {
    content: counter(years-competed);
    grid-row-start: 1;
    grid-column-start: 1;
  }

  #eventsAttended::after {
    content: counter(events-attended);
    grid-row-start: 1;
    grid-column-start: 1;
  }

  #awardsEarned::after {
    content: counter(awards-earned);
    grid-row-start: 1;
    grid-column-start: 1;
  }
}

#tbaLink {
  color: #3F51B5;
}

#tbaLink:hover {
  text-decoration: underline;
}
