.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
}

.sponsorLogo {
  width: auto;
  height: 6em;
}

.standardBots {
  display: flex;
  flex-direction: column;
  font-style: italic;
  justify-content: space-around;
}

.standardBots .sponsorLogo {
  height: auto;
}

.leftButtonRow {
  display: flex;
  margin-top: 2rem;
  justify-content: left;
  gap: 0.5em;
}