.stats {
  display: flex;
  flex-wrap: wrap;
  gap: 1em 12em;
  justify-content: center;
  min-height: fit-content;
  padding-bottom: 2em;
}

.stat {
  width: auto;
  height: fit-content;
  text-align: center;
}

.number {
  font-family: var(--font-primary);
  color: var(--color-brand);
  font-weight: 800;
  font-size: 5rem;
  line-height: 5rem;
  margin-bottom: 0.1em;
}

.label {
  font-weight: 200;
  font-size: 1.5rem;
  line-height: 1.5rem;
}

.centeredHeader {
  font-family: var(--font-primary);
  text-align: center;
  font-size: 4rem;
  line-height: 4rem;
  padding-bottom: 3rem;
  padding-top: 3rem;
}

.robotPhoto {
  width: 30rem;
  height: 20rem;
  object-fit: cover;
}

.name {
  text-align: center;
  font-weight: 600;
}

.blurb {
  font-size: 0.9em;
  line-height: 1em;
  max-width: 30rem;
}

.event {
  display: flex;
  padding-bottom: 0.3em;
  gap: 0.5em;
}

.events {
  padding-top: 0.75em;
  padding-bottom: 0.75em;
}

.externalLink {
  vertical-align: top;
  margin-top: 0.2em;
}

.robotName {
  text-align: center;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  max-width: 30rem;
}