.stats {
  display: flex;
  flex-wrap: wrap;
  gap: 1em 12em;
  justify-content: center;
  min-height: fit-content;
  padding-bottom: 2em;
}

.stat {
  width: auto;
  height: fit-content;
  text-align: center;
}

.number {
  font-family: var(--font-primary);
  color: var(--color-brand);
  font-weight: 800;
  font-size: 5rem;
  line-height: 5rem;
  margin-bottom: 0.1em;
}

.label {
  font-weight: 200;
  font-size: 1.5rem;
  line-height: 1.5rem;
}

.profilePhoto {
  width: 20rem;
  height: 20em;
  object-fit: cover;
}

.name {
  text-align: center;
  font-weight: 600;
}

.blurb {
  width: auto;
  font-size: 0.9em;
  line-height: 1em;
}