.buttonRow {
  display: flex;
  margin-top: 2rem;
}

.rightButtonRow {
  display: flex;
  margin-top: 2rem;
  justify-content: right;
}

.leftButtonRow {
  display: flex;
  margin-top: 2rem;
  justify-content: left;
}

.photoDimBackground {
  background: #000000AA;
  height: 100%;
}

.photoText {
  color: white;
  padding-top: 15rem;
  font-size: 3rem;
  line-height: 5rem;
  font-family: var(--font-primary);
  font-weight: 400;
}

.mediaIcons {
  display: flex;
  gap: 1em;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}

.sponsorLogo {
  width: auto;
  height: 6em;
}

.textBlock {
  padding-top: 5em;
}

.eventLinks {
  font-weight: 500;
  display: flex;
}

.link {
  flex-grow: 1;
  width: 100%;
  text-align: center;
}

.seeMore {
  display: flex;
  align-items: center;
  font-weight: 700;
  text-decoration: underline;
}