.donateButton {
  display: inline-block;
  font-size: 1.5rem;
  border: 2px solid var(--color-brand);
  border-radius: 1rem;
  color: white;
  background-color: var(--color-brand);
  padding: 1rem 1.5rem;
  font-weight: 400;
  margin-top: 1rem;
}

.donateButton:hover {
  background-color: transparent;
  color: var(--color-brand);
}

.benefits {
  margin-left: 2em;
}

.externalLink {
  vertical-align: top;
  margin-top: 0.2em;
}

.money {
  font-weight: 100;
  margin-left: 0.5em;
  color: white;
}

.sponsorTier {
  color: white;
  padding: 1rem;
  margin-bottom: 2rem;
  border-width: 0.3em;
}

#krill {
  background-color: gray;
  border-color: gray;
}

#shrimp {
  border-color: rgb(247, 148, 164);
  background-color: rgb(247, 148, 164);
}

#crab {
  border-color: rgb(241, 157, 0);
  background-color: rgb(241, 157, 0);
}

#lobstah {
  border-color: var(--color-brand);
  background-color: var(--color-brand);
}

#blueLobstah {
  border-color: #04A4ff;
  background-color: #04A4ff;
}