* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  --color-brand: #c40000;
  --color-neutral-10: #F2F4F6;
  --color-neutral-70: #222426;
  --color-neutral-90: #121416;
  --color-neutral-100: #020406;
  --font-primary: "Mundial", ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-family: var(--font-primary);
  color: var(--color-neutral-100);
  font-weight: 300;
  font-size: 1.125rem;
  line-height: 1.75rem;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  margin-bottom: 1rem;
}

h1 {
  font-family: var(--font-primary);
  font-weight: 700;
  font-size: 3rem;
  line-height: 4rem;
  margin-top: 4rem;
  margin-bottom: 2rem;
}

.button {
  display: inline-block;
  border: 1px;
  border-radius: 0.75em;
  background-color: var(--color-brand);
  color: white;
  padding: 0.5rem 1rem;
}

.borderButton {
  display: inline-block;
  border: 2px;
  border-radius: 0.75em;
  border-style: dotted;
  padding: 0.5rem 1rem;
}

.button:hover {
  opacity: 80%;
}

.link {
  text-decoration: underline;
  color: var(--color-brand);
}

.visually-hidden {
  position: absolute;
  height: 1px;
  width: 1px;
  padding: 0;
  margin: -1px;
  border-width: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  overflow: hidden;
  white-space: nowrap;
}

.highlightedSection {
  color: white;
  min-height: 1fr;
  background-color: var(--color-brand);
  padding-bottom: 2rem;
}

.graySection {
  background-color: var(--color-neutral-10);
  min-height: 1fr;
  color: black;
  padding-bottom: 2rem;
}

.section {
  min-height: 12fr;
}

input {
  width: 100%;
  padding: 0.5em 0.5em;
  box-sizing: border-box;
  resize: none;
  font-size: 1em;
  text-align: start;
}

input:focus {
  border: 3px solid #555;
}

textarea {
  width: 100%;
  padding: 0.5em 0.5em;
  box-sizing: border-box;
  resize: none;
  font-size: 1em;
  text-align: start;
}

textarea:focus {
  border: 3px solid #555;
}

.sectionWith2_1Cols {
  display: grid;
  grid-template-areas: "left right";
  grid-template-columns: 2fr 1fr;
  column-gap: 2em;
}

.sectionWith1_2Cols {
  display: grid;
  grid-template-areas: "left right";
  grid-template-columns: 1fr 2fr;
  column-gap: 3em;
}

.sectionWith1_1Cols {
  display: grid;
  grid-template-areas: "left right";
  grid-template-columns: 1fr 1fr;
  column-gap: 3em;
}

.sectionWith1_1_2Cols {
  display: grid;
  grid-template-areas: "left mid right";
  grid-template-columns: 1fr 1fr 2fr;
  column-gap: 3em;
}

.rightCol {
  grid-area: right;
}

.leftCol {
  grid-area: left;
}

.midCol {
  grid-area: mid;
}

.responsiveImage {
  width: 100%;
  height: auto;
}

.oppositeRoundCorners {
  border-radius: 1rem 0 1rem 0;
}

.container {
  margin: auto;
  padding: 0 1rem;
}

@media (min-width: 640px) {
  .container {
    max-width: 640px;
    padding: 0 1rem;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
    padding: 0 2rem;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding: 0 5rem;
  }
}

@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
    padding: 0 6rem;
  }
}